Package: debian-package-test-action
Version: 20200105014549
Architecture: amd64
Maintainer: DevOps <dev@automodality.com>
Installed-Size: 7
Section: unknown
Priority: extra
Multi-Arch: foreign
Homepage: https://github.com/AutoModality/action-package-debian-ros
Description: Test to validate Github Action ROS debian packaging.
